
body {
    background: paleturquoise;    
}

.nav-wrapper {
    background-color: rgb(228, 200, 46);
}

#advisories-btn {
    margin-top: 12px;
}
.brand-logo {
    margin-top: 8px;
    margin-left: 5px;
    padding: 10px;
    max-width: 160px;
    max-height: 160px;
}

.user-input-container {
    background-color: rgb(88, 124, 102);
    margin-top: 0;
    margin-right:0;
}