
body {
    background: rgb(95, 158, 62);    
}

.nav-wrapper {
    background-color: rgb(228, 200, 46);
    margin-bottom: 0px
}

#advisories-btn {
    margin-top: 3px;
}
.brand-logo {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    max-width: 160px;
    max-height: 160px;
}

.user-input-container {
    background-color: rgb(91, 218, 144);
}
#hike-summary {
    font-weight: bold;
}
