body {
    background: paleturquoise;    
}

.navbar-top {
    background-color: salmon;
}

.advisories-box {
    background-color: white;
    text-align: center;
}

.user-input-container {
    background-color: rgb(88, 124, 102);
    margin-top: 0;
    margin-right:0;
}